.hero__section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

  .hero__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    h2 {
      color: #000000;
      font-size: xx-large;
    }

    p {
      color: #000000;
      width: 75%;
    }
  }
}
