.ci {
  vertical-align: middle;
  font-size: xxx-large;
}
.ci__digital__marketing {
  color: tomato !important;
}
.ci__web__development {
  color: rgb(40, 195, 40) !important;
}
.ci__art {
  color: rgb(0, 102, 255) !important;
}
.ci__personal__development {
  color: orange !important;
}
.ci__it {
  color: rgb(3, 255, 3) !important;
}
.ci__social {
  color: rgb(162, 18, 162) !important;
}
.ci__graphic {
  color: rgb(16, 234, 125) !important;
}
