.ci {
  vertical-align: middle;
}
.ci__digital__marketing {
  font-size: xxx-large;
  color: tomato !important;
}
.ci__web__development {
  font-size: xxx-large;
  color: rgb(40, 195, 40) !important;
}
.ci__art {
  font-size: xxx-large;
  color: rgb(0, 102, 255) !important;
}
.ci__personal__development {
  font-size: xxx-large;
  color: orange !important;
}
.ci__it {
  font-size: xxx-large;
  color: rgb(3, 255, 3) !important;
}
.ci__social {
  font-size: xxx-large;
  color: rgb(162, 18, 162) !important;
}
.ci__graphic {
  font-size: xxx-large;
  color: rgb(16, 234, 125) !important;
}

.nav__toggle__btn__icon {
  color: #ffffff;
  font-size: xx-large;
  // transition: all 1 ease-in-out;
}

.nav__toggle__btn__icon.cross {
  color: red;
}
