@import "../../../foundation/_breakpoint.scss";
@import "../../../foundation/variable";

.sticky {
  background-color: #2a2a72;
  background-image: linear-gradient(
    315deg,
    rgb(42, 42, 114, 0.7) 0%,
    rgb(0, 159, 253, 0.7) 74%
  );
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  transition: all 0.3s ease-in-out;

  span {
    color: #fff !important;
  }

  .nav__link {
    color: hsl(0, 0%, 100%) !important;
    &:hover {
      color: #ff4500 !important;
    }
  }

  .header__logo {
    h2 {
      color: #fff !important;
    }
  }

  .nav__link.nav__link-btn {
    // background-color: #ff4500 !important;
    transition: background-color 0.3s ease;
    &:hover {
      // background-color: #ff5722 !important;
      color: #ffffff !important;
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  @include breakpoints(semiMiniTablet) {
    // background-color: #2a2a72;
    background-image: linear-gradient(
      315deg,
      rgb(42, 42, 114, 0.7) 0%,
      rgb(0, 159, 253, 0.7) 74%
    );
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    // background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  }

  .header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.3rem 0;
    &:focus {
      outline: none;
    }
    h2 {
      font-size: 2rem;
      font-family: "Poppins", sans-serif;
      font-style: italic;
      font-weight: 700;
      // color: tomato;
      // color: #000;
      color: #2a2a72;
      margin: 0;
      padding-bottom: 0;
      @include breakpoints(semiMiniTablet) {
        margin-bottom: -0.3rem;
      }
    }
    span {
      color: #000000;
      font-size: small;
      margin-top: 0;
      padding-top: 0;
      @include breakpoints(semiMiniTablet) {
        color: #ffffff;
        font-size: 0.3rem;
      }
    }
  }

  .header__nav {
    .nav__toggle {
      .btn--toggle {
        display: none;
        color: #000000;
        padding: 0;
        background-color: transparent;
        border: none;
        @include breakpoints(semiMiniTablet) {
          display: block;
        }
      }
    }

    .nav__container.toggled {
      transition: all 1s ease-in-out;
      @include breakpoints(semiMiniTablet) {
        right: -300px;
      }
    }

    .nav__container {
      transition: all 1s ease-in-out;
      @include breakpoints(semiMiniTablet) {
        position: absolute;
        width: 300px;
        height: 500px;
        // background-color: #2a2a72;
        // background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
        background-image: linear-gradient(
          315deg,
          rgb(42, 42, 114, 0.9) 0%,
          rgb(0, 159, 253, 0.9) 74%
        );
        -webkit-backdrop-filter: blur(10px) !important;
        backdrop-filter: blur(10px) !important;
        color: #ffffff;
        right: 0px;
        top: 0px;
        border-radius: 0px 0px 0px 60px;
      }
      .nav__list {
        display: flex;
        margin: 0 1.5rem;
        list-style-type: none;
        @include breakpoints(semiMiniTablet) {
          flex-direction: column;
        }

        .nav__item {
          margin: 1.5rem;
          font-size: $fs-lg;

          .nav__link {
            color: #000000;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: #ff4500;
            }
            &:focus {
              outline: none;
            }
            @include breakpoints(semiMiniTablet) {
              color: #ffffff;
            }
          }

          .nav__link.nav__link-btn {
            background-color: #2a2a72;
            color: #ffffff;
            padding: 12px 28px;
            border: none;
            border-radius: 35px;
            font-family: "Poppins", sans-serif;
            font-size: small;
            font-weight: 500;

            &:hover {
              background-color: #3748ac;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}
