@import "../../../foundation/_breakpoint.scss";
@import "../../../foundation/variable";

.sticky {
  background-color: #0e0524 !important;
  transition: all 0.3s ease-in-out;

  span {
    color: #fff !important;
  }

  .nav__link {
    color: #fff !important;
  }

  .nav__link.nav__link-btn {
    background-color: #4105d996 !important;
    &:hover {
      background-color: #4105d9 !important;
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  @include breakpoints(semiMiniTablet) {
    background-color: #0e0524 !important;
  }

  .header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.3rem 0;
    &:focus {
      outline: none;
    }
    h2 {
      font-size: x-large;
      font-family: "Nunito";
      font-style: italic;
      font-weight: 700;
      color: tomato;
      margin: 0;
      padding-bottom: 0;
      @include breakpoints(semiMiniTablet) {
        margin-bottom: -0.3rem;
      }
    }
    span {
      color: #000000;
      font-size: small;
      margin-top: 0;
      padding-top: 0;
      @include breakpoints(semiMiniTablet) {
        color: #ffffff;
        font-size: 0.3rem;
      }
    }
  }

  .header__nav {
    .nav__toggle {
      .btn--toggle {
        display: none;
        color: #000000;
        padding: 0;
        background-color: transparent;
        border: none;
        // transition: all 1 ease-in-out;
        @include breakpoints(semiMiniTablet) {
          display: block;
        }
      }
    }

    .nav__container.toggled {
      transition: all 1s ease-in-out;
      @include breakpoints(semiMiniTablet) {
        right: -300px;
        // top: 40px;
      }
    }

    .nav__container {
      transition: all 1s ease-in-out;
      @include breakpoints(semiMiniTablet) {
        position: absolute;
        width: 300px;
        height: 500px;
        background-color: #0e0524;
        color: #ffffff;
        right: 0px;
        top: 40px;
      }
      .nav__list {
        display: flex;
        margin: 0 1.5rem;
        list-style-type: none;
        @include breakpoints(semiMiniTablet) {
          // display: relative;
          flex-direction: column;
        }

        .nav__item {
          margin: 1.5rem;
          font-size: $fs-lg;

          .nav__link {
            color: #000000;
            &:focus {
              outline: none;
            }
            @include breakpoints(semiMiniTablet) {
              color: #ffffff;
            }
          }

          .nav__link.nav__link-btn {
            background-color: #4105d93c;
            color: #4105d9;
            padding: 12px 28px;
            border: none;
            border-radius: 35px;
            font-family: "Poppins", sans-serif;
            font-size: small;
            font-weight: 500;

            &:hover {
              background-color: #4105d9;
              color: #ffffff;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}
