@import "../../../../foundation/index";
.content_list_container {
  background-color: $bg-white;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  &:hover {
    background-color: $bg-menu-active-color;
  }
  box-shadow: $box-shadow-2;
  .list_title_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
