@import "../../../foundation/index";

.student__home__container {
  padding: 4rem;
  width: 100%;
  background-color: $bg-gray-white;
  display: flex;
  @include breakpoints(tablet) {
    flex-direction: column;
    padding: 2rem;
  }

  .left__container {
    width: 65%;
    padding: 0.5rem;
    @include breakpoints(tablet) {
      width: 100%;
    }

    .wecome__text__container {
      margin-bottom: 1.5rem;

      span {
        font-family: "poppins", sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
      }

      h2 {
        font-family: "poppins", sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: 0.3rem;
      }
    }

    .courses__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 1.3rem 0;
      width: 100%;
      h2 {
        font-size: 1.7rem;
      }
      .course__section__container {
        width: 100%;
        @include breakpoints(tablet) {
          overflow-x: scroll;
        }
      }
    }
  }

  .right__container {
    width: 35%;
    margin-left: 1rem;
    @include breakpoints(tablet) {
      width: 100%;
      padding: 0.5rem;
    }
  }
}
