@import "../../../../foundation/index";

@mixin title {
  text-align: start;
  margin-bottom: 20px;
  h2 {
    font-size: 18px;
    text-transform: capitalize;
    color: $text-p-color;
    transition: all 0.3s ease-in-out;
  }
}
@mixin card {
  padding: 25px;
  min-height: 250px;
}
@mixin form {
  .form_group {
    display: flex;
    margin: 15px 0;
    align-items: flex-end;
    @include breakpoints(portraitTablet) {
      display: inherit;
      margin: 0px;
    }
    span {
      color: $text-p-color;
      transition: all 0.3s ease-in-out;
      strong {
        color: $text-primary;
        font-weight: 600;
        cursor: pointer;
        user-select: none;
      }
    }
    .left {
      margin-right: 33px !important;
      @include breakpoints(portraitTablet) {
        margin-right: 16px !important;
      }
    }
    .right {
      margin-right: 15px !important;
    }
    .input_group {
      width: 50%;
      @include breakpoints(portraitTablet) {
        width: auto;
        margin: 10px 0;
      }
      label {
        width: 100%;
        font-weight: 600;
        font-size: 13px;
        margin-bottom: 10px !important;
        color: $text-p-color;
        transition: all 0.3s ease-in-out;
        @include breakpoints(tablet) {
          font-size: 14px;
        }
      }
      input {
        width: 100%;
        padding: 10px 8px;
        border: $border-header;
        outline: none;
        border-radius: 5px;
        color: $text-p-color;
        background: $bg-body;
        margin-top: 10px;
      }
      input:disabled {
        background-color: $bg-body;
        border: none;
        cursor: no-drop;
      }
    }
    .generate_password {
      margin-left: 20px;
      @include breakpoints(portraitTablet) {
        margin-left: 0px;
      }
    }

    button {
      width: 130px;
      padding: 10px 8px;
      height: max-content;
      background: $bg-thin-green;
      box-shadow: $box-shadow-sidebar-menu;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      border: none;
      text-transform: capitalize;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.8;
      }
      @include breakpoints(portraitTablet) {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
  .show_password {
    display: flex;
    align-items: center;
    .input_group {
      width: auto !important;
    }
  }
}
.updatepassword_page_wrapper {
  margin-top: 20px;
  .accountpassword_card {
    @include card();
    .accountpassword_title {
      @include title();
    }
    .accountpassword_field {
      form {
        @include form();
        .left {
          margin-right: 33px !important;
          @include breakpoints(portraitTablet) {
            margin-right: 16px !important;
          }
        }
        .input_group {
          width: 50%;
          @include breakpoints(portraitTablet) {
            width: auto;
            margin: 10px 0;
          }
        }
        .show_password {
          input[type="checkbox" i] {
            width: 15px;
            height: 14px;
          }
          label {
            font-size: 13px;
            margin-left: 10px;
            text-transform: capitalize;
            color: $text-p-color;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
