.course {
  box-shadow: 1px 1px 10px #cecbcb;
  border-radius: 5px;
  min-height: 415px;
  position: relative;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  .card__body {
    padding: 2%;
    .course__rating__container {
      display: flex;
      align-items: center;
      .rating__star {
        margin-right: 0.8rem;
      }
      .rating__count {
        font-size: small;
      }
    }
    .course__title__container {
      h4 {
        font-size: small;
        font-family: "poppins", sans-serif;
        font-weight: 600;
        margin: 0.8rem 0;
      }
    }
    .course__details__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      span {
        margin-left: 0.5rem;
        font-size: small;
        vertical-align: middle;
        font-family: "poppins", sans-serif;
      }
    }
    .course__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
      padding: 2%;
      border-top: 1px solid #1f1f1f45;
      border-bottom: 1px solid #1f1f1f45;
      position: absolute;
      bottom: 7px;
      width: 94%;
      .course__teacher-info__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .info__container {
          display: flex;
          align-items: center;

          .avater {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }

          .name {
            font-family: "poppins", sans-serif;
            font-size: small;
            font-weight: 400;
            margin-left: 0.8rem;
          }
        }
      }
      .course__pricing__container {
        color: #1f1f1f;
        font-family: "poppins", sans-serif;
        font-size: small;
        padding: 4%;
        .reguler__price {
          text-decoration: line-through;
          font-weight: 400;
        }
        .offer__price {
          margin-left: 0.8rem;
          font-size: medium;
          font-weight: 500;
        }
      }
    }
    .course__progress__container {
      margin: 1rem 0;
    }
  }
}
