@import "../../foundation/variable";
@import "../../foundation/breakpoint";

.ci {
  vertical-align: middle;
}
.ci__digital__marketing {
  font-size: xxx-large;
  color: tomato !important;
}
.ci__web__development {
  font-size: xxx-large;
  color: rgb(40, 195, 40) !important;
}
.ci__art {
  font-size: xxx-large;
  color: rgb(0, 102, 255) !important;
}
.ci__personal__development {
  font-size: xxx-large;
  color: orange !important;
}
.ci__it {
  font-size: xxx-large;
  color: rgb(3, 255, 3) !important;
}
.ci__social {
  font-size: xxx-large;
  color: rgb(162, 18, 162) !important;
}
.ci__graphic {
  font-size: xxx-large;
  color: rgb(16, 234, 125) !important;
}

.nav__toggle__btn__icon {
  color: #ffffff;
  font-size: xx-large;
  // transition: all 1 ease-in-out;
}

.nav__toggle__btn__icon.cross {
  color: red;
}

.sidebar__menu__icon {
  transition: all 0.3s ease-in-out;
  display: block;
  opacity: 1;
  color: $text-black;
  font-size: 1.3rem;
  margin-right: 0.6rem;
  &:hover {
    color: $text-menu-active-color;
  }
  &:visited {
    color: none;
  }
  &:active {
    color: $text-black;
  }
}

.sidebar__menu__icon.logout {
  font-size: 1.6rem;
  color: red;
  &:hover {
    color: darkred;
  }
  &:visited {
    color: none;
  }
}

.hamburger_icon {
  color: $text-black;
  font-size: 1.6rem;
  // box-shadow: $box-shadow-navicon;
}

.theme__change__icon {
  text-align: center;
  font-size: 1.5rem;
  color: $text-navicon-color;
}
.theme__change__icon.dark {
  color: $text-black;
}
