@import "../../foundation/breakpoint";
@import "../../foundation/variable";

// html {
//   scroll-behavior: smooth;
// }
// .main__container {
//   display: flex;

//   // sideber static css
//   .sidebar__section {
//     width: 270px;
//     background: $bg-white;
//     position: fixed;
//     left: 0;
//     height: 100%;
//     overflow: auto;
//     transition: all 0.3s ease-in-out;
//     overflow-x: hidden;
//     z-index: 999;
//     border-right: $border-header;
//     @include breakpoints(laptop) {
//       width: 103px;
//     }
//     @include breakpoints(tablet) {
//       width: 270px;
//       transform: translateX(-300px);
//       z-index: 9999;
//     }
//     &::-webkit-scrollbar {
//       width: 4px;
//     }
//     /* Track */
//     &::-webkit-scrollbar-track {
//       background: $bg-white;
//     }

//     /* Handle */
//     &::-webkit-scrollbar-thumb {
//       background: #dcdada;
//     }
//     // sidebar hover effect
//     @include breakpoints(laptop) {
//       &:hover {
//         width: 270px;
//         max-width: 100%;
//         z-index: 999;
//         .sidebar__section__container {
//           .logo__container {
//             .link {
//               width: 75px;
//               height: 90px;
//               transition: all 0.3s ease-in-out;
//             }
//           }
//           .user__info__container {
//             padding: 0px 9px;
//             transition: all 0.3s ease-in-out;
//             display: block;
//           }
//           .sidebar__menu__container {
//             .sidebar__menu__lists {
//               .sidebar__menu__list {
//                 width: auto;
//                 margin: auto !important;
//                 margin-bottom: 10px !important;
//                 transition: all 0.3s ease-in-out;
//                 .active {
//                   background-color: transparent;
//                 }
//                 .sidebar__menu__link {
//                   .icon_text {
//                     p {
//                       transition: all 0.3s ease-in-out;
//                       @include breakpoints(laptop) {
//                         display: block;
//                         opacity: 1;
//                       }
//                     }
//                   }
//                   span {
//                     // svg {
//                     //   transition: all 0.3s ease-in-out;
//                     //   @include breakpoints(laptop) {
//                     //     display: block;
//                     //     opacity: 1;
//                     //   }
//                     // }
//                   }
//                 }
//               }
//               .submenu ul {
//                 display: block;
//                 opacity: 1;
//                 transition: all 0.3s ease-in-out;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
//   // sidebar toggler css
//   &[show-menu="true"] {
//     .sidebar__section {
//       width: 103px;
//       max-width: 100%;
//       transition: all 0.3s ease-in-out;
//       @include breakpoints(tablet) {
//         width: 270px;
//         transform: translateX(0px);
//         transition: all 0.3s ease-in-out;
//         z-index: 99999;
//         box-shadow: $box-shadow-sidebar-menu;
//       }
//       .sidebar__section__container {
//         .logo__container {
//           .link {
//             width: 100px;
//             height: 90px;
//             transition: all 0.3s ease-in-out;
//           }
//         }
//         .user__info__container {
//           padding: 0px 9px;
//           width: 75px;
//           height: 75px;
//           transition: all 0.3s ease-in-out;
//         }
//         .sidebar__menu__container {
//           .sidebar__menu__lists {
//             .sidebar__menu__list {
//               // width: 62px;
//               margin: auto !important;
//               margin-bottom: 10px !important;
//               transition: all 0.3s ease-in-out;
//               @include breakpoints(tablet) {
//                 width: auto;
//               }
//               .active {
//                 background-color: $bg-menu-active-color;
//               }
//               .sidebar__menu__link {
//                 .icon_text {
//                   p {
//                     transition: all 0.3s ease-in-out;
//                     display: none;
//                     opacity: 0;
//                     @include breakpoints(tablet) {
//                       display: block;
//                       opacity: 1;
//                     }
//                   }
//                 }
//                 span {
//                   // svg {
//                   //   transition: all 0.3s ease-in-out;
//                   //   display: none;
//                   //   opacity: 0;
//                   //   @include breakpoints(tablet) {
//                   //     display: block !important;
//                   //     opacity: 1 !important;
//                   //   }
//                   // }
//                 }
//               }
//             }
//             .submenu ul li .active {
//               background-color: transparent;
//             }
//             .submenu ul {
//               display: none;
//               opacity: 0;
//             }
//           }
//         }
//       }
//       // sidebar hover effect
//       &:hover {
//         width: 270px;
//         max-width: 100%;
//         z-index: 99999;
//         .sidebar__section__container {
//           .logo__container {
//             .link {
//               width: 100px;
//               height: 90px;
//               transition: all 0.3s ease-in-out;
//             }
//           }
//           .user__info__container {
//             padding: 0px 9px;
//             transition: all 0.3s ease-in-out;
//             display: block;
//           }
//           .sidebar__menu__container {
//             .sidebar__menu__lists {
//               .sidebar__menu__list {
//                 width: auto;
//                 margin: auto !important;
//                 margin-bottom: 10px !important;
//                 transition: all 0.3s ease-in-out;
//                 .active {
//                   background-color: transparent;
//                 }
//                 .sidebar__menu__link {
//                   .icon_text {
//                     p {
//                       transition: all 0.3s ease-in-out;
//                       display: block;
//                       opacity: 1;
//                       @include breakpoints(tablet) {
//                         display: block;
//                         opacity: 1;
//                       }
//                     }
//                   }
//                   span {
//                     // svg {
//                     //   transition: all 0.3s ease-in-out;
//                     //   display: block !important;
//                     //   opacity: 1 !important;
//                     //   @include breakpoints(tablet) {
//                     //     display: block;
//                     //     opacity: 1;
//                     //   }
//                     // }
//                   }
//                 }
//               }
//               .submenu ul {
//                 display: block;
//                 opacity: 1;
//                 transition: all 0.3s ease-in-out;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
//   .main__content__section {
//     position: relative;
//     margin-left: auto;
//     transition: all 0.3s ease-in-out;
//     width: calc(100% - 270px);
//     @include breakpoints(laptop) {
//       width: calc(100% - 103px);
//     }
//     @include breakpoints(tablet) {
//       width: calc(100% - 0px);
//     }
//     .main__content__container {
//       padding-top: 20px;
//       padding-right: 20px;
//       padding-left: 20px;
//       position: relative;
//     }
//   }
//   &[show-menu="true"] {
//     .main__content__section {
//       width: calc(100% - 103px);
//       transition: all 0.3s ease-in-out;
//       @include breakpoints(tablet) {
//         width: calc(100% - 0px);
//         transition: all 0.3s ease-in-out;
//       }
//     }
//   }
// }

// -----------------------------------------------------------------------------------------------------------------------------------

html {
  scroll-behavior: smooth;
}

.main__container {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  .sidebar__section {
    width: 18%;
    background: $bg-white;
    position: fixed;
    left: 0;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    overflow-x: hidden;
    z-index: 999;
    border-right: $border-header;

    // scroll bar
    &::-webkit-scrollbar {
      width: 4px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: $bg-white;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #dcdada;
    }
    &::-webkit-scrollbar-thumb {
      background: #dcdada;
    }
  }
}
